/* layout.css */
.layout {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  height: auto;
}

.sidebar {
  width: 25%;
  min-width: 200px;
  height: auto;
  background-color: #283042;
  padding: 1rem;
}

.title {
  color: #ced4d9;
}

.list-group-item {
  background-color: #283042;
}

.list-text {
  color: #b2b9be;
  cursor: pointer;
}

.list-text:hover {
  color: #ffffff;
  /* background-color: red; */
  cursor: pointer;
}

.active {
  background-color: yellow;
}

.list-group-active-color {
  background-color: #1d2331;
}

.results-container {
  background-color: #f5f8fb;
  display: flex;
  width: 75%;
  flex-direction: column;
  height: auto;
}
